.portf-fornt {
    margin: 0 10px;
    width: 100%;
    max-width: 370px;
    min-width: 300px;
    overflow: hidden;
    @include transition(.2s ease-out);
    border: 3px solid white;
    
    img {
        @include transition(.2s ease-out);
    }
    
    &:hover {
        
        img {
            transform: scale(1.05)
        }
    }
    
    .info {
        background: #EFEFEF;
        padding: 15px;
        
        h5 {
            margin-bottom: 15px;
        }
    }
}